[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
[submodule "website/themes/introduction"]
	path = website/themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
